

.Button {
    cursor: pointer;
}

.clear {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    outline: 0;
}

.primary {
    padding: 0 0.5rem;
    opacity: 0.2;
    border-radius: 10rem;
    border: none;
}

.primary:hover {
    opacity: 0.5;
}

.outline {
    background: none;
    padding: 0 0.9375rem;
    border-radius: 10rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
