.Sidebar {
    z-index: 1;
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    clip-path: inset(0);
    will-change: width;
    margin-top: calc(var(--navbar-height) * -1);
    transition: width 250ms ease-out;
}

.sidebarWrapper {
    width: var(--sidebar-width);
    min-height: 100vh;
    max-height: 100vh;
    position: sticky;
    top: 0;
}

.switchers {
    transition: all .4s;
    position: absolute;
    bottom: 1.25rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

.collapsedBtn {
    opacity: .9;
    border: none;
    top: calc(var(--navbar-height) + .2rem);
    padding-left: 2.1rem;
    position: absolute;
    right: .09rem;
    font: var(--font-line-m);
    border-radius: 25%;
}

.collapsedBtn:hover {
    border-radius: .15rem;
}

.linkItems {
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .collapsedBtn {
        padding-left: 1.9rem;
        position: absolute;
        right: 13.79rem;
        font: var(--font-line-m);
        border-radius: 25%;
    }

    .collapsedBtn:hover {
        border-radius: .15rem;
    }

    .linkItems {
        align-items: start;
        margin-left: 1.95rem;
    }

    .switchers {
        margin-left: .9rem;
        width: 20%;
    }
}
