.btn {
    position: relative;
    border-radius: 2rem;
    border: .3rem double var(--inverted-bg-color);
    padding: .1rem .2rem;
    cursor: pointer;
    background: none;
    outline: none;
    margin: 0;
    color: var(--primary-color);
}

.panel {
    top: var(--navbar-height);
    position: absolute;
    background: rgb(255 255 255 / 20%);
    opacity: .9;
    backdrop-filter: blur(2px);
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    outline: none;
    gap: .4rem;
    padding: 1rem;
}
