.app_dark_theme {
    --bg-color: #07238d;
    --inverted-bg-color: #b8c2ec;
    --primary-color: #64e820;
    --secondary-color: #1b5e2d;
    --inverted-primary-color: #235709;
    --inverted-secondary-color: #71f193;

    // skeleton
    --skeleton-color: blue;
    --skeleton-shadow: rgb(0 0 255 / 25%);
    --code-bg: #1b5e2d;

    // card
    --card-bg: #0c2b9f;

    // listbox
    --listbox-bg: #0c2b9f;
}
