.app_normal_theme {
    --bg-color: #a1ade3;
    --inverted-bg-color: #07238d;
    --primary-color: #235709;
    --secondary-color: #71f193;
    --inverted-primary-color: #64e820;
    --inverted-secondary-color: #1b5e2d;

    // skeleton
    --skeleton-color: rgb(255 255 255 / 25%);
    --skeleton-shadow: #07238d;
    --code-bg: #71f193;

    // card
    --card-bg: #8799ec;

    // listbox
    --listbox-bg: #8799ec;
}
