.app_normal_theme {
    --bg-color: #b8c2ec;
    --inverted-bg-color: #07238d;
    --primary-color: #235709;
    --secondary-color: #71f193;
    --inverted-primary-color: #64e820;
    --inverted-secondary-color: #1b5e2d;
}
