.app_yallow_theme {
    --bg-color: #ffb803;
    --inverted-bg-color: #fbf9f4;
    --primary-color: #fbf9f4;
    --secondary-color: #db1d00;
    --inverted-primary-color: #db1d00;
    --inverted-secondary-color: #db1d00;

    //skeleton
    --skeleton-color: rgb(255 255 255 / 25%);
    --skeleton-shadow: rgb(251 249 244 / 25%);
}
