.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 1.2rem;
    gap: 1rem;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: .5rem;
    margin-left: auto;
}

.appTitle {
    width: var(--sidebar-width);
    filter: drop-shadow(2px 1px 8px var(--bg-color));
}
