.ProfileCard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border: 1px dashed var(--inverted-bg-color);
}

.data {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18.75rem;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18.75rem;
}

.avatar {
    width: 5rem;
    border-radius: .8rem;
    box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 78%);
}
