.AppLink {
    width: auto;
    transition: all 280ms ease-in;
    color: var(--primary-color);

    &:active {
        transform: scale(1.2);
        opacity: .5;
    }
}

.animated:hover {
    transform: rotate(2deg) scale(1.07);
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.red {
    color: red;
}
